<!DOCTYPE html>
<html>
<head>
    <title>Buscar Libros</title>
</head>
<body>
    <h1>Buscar Libros</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>

    {% if books %}
        <h2>Resultados de la Búsqueda</h2>
        <ul>
            {% for book in books %}
                <li>{{ book.title }} by {{ book.author }}</li>
            {% endfor %}
        </ul>
    {% elif search_query %}
        <p>No se encontraron resultados para "{{ search_query }}"</p>
    {% endif %}
</body>
</html>
